.review-carousel {
    position: absolute;
    height: 85%;
    max-width: 85%;
    margin: auto;
}

.carousel-caption p {
    font-size: 35px;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .review-carousel {
        position: absolute;
        height: 80%;
        max-width: 80%;
        left: 0;
    }

    .carousel-caption p {
        font-size: 1rem;
        line-height: 2.5rem;
    }
    
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .carousel-caption p {
        font-size: 0.6rem;
        line-height: 11.5px;
    }
    
}


