.carousel-caption p {
    font-size: 20px;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {

    
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .carousel-caption p {
        font-size: 10px;
        line-height: 14px;
    }
    
}


