.info {
    padding: 1.5rem;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px rgb(7, 90, 131);
}

.contact_link a {
    color: black;
}

.contact_link a:hover {
    color: rgb(11, 95, 116);
    
}

.description {
    padding: 3rem;
    line-height: 2.4;
}

/* .col {
   
} */