#footer-menu > h2 {
    font-size: x-large;
    font-weight: bold;
}

#footer-menu ul li {
    color: purple;
    display: block;
    float: left;
    
}

/* #footer-menu > a:hover {
    color: rgb(237, 229, 229);
    opacity: 0.6;
    transition: 0.6s;
}

#footer-menu > a:visited {
    color: pink;
    opacity: 0.6;
} */

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  

 } 
 