footer {
    background: rgb(225, 224, 224);
    padding: 1rem 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    /* /* .footer_socials {
       
    } */
} 