@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a:link {
    text-decoration: none;
}

/* css variables */
:root {
    --color-bg: white;
    --color-bg-variant: rgb(11, 95, 116);
    --color-primary: black;
    --color-primary-variant: rgb(38, 150, 179);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

body {
    font-family: 'IBM Plex Serif', serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.main {
    flex-grow: 1;
}

section {
    padding-top: 5px;
    margin-top: 20px;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.primary_button {
    background: var(--color-primary-variant);
}

.primary_button:hover {
    background: var(--color-bg-variant);
    transition: var(--transition);
}

.coming_soon {
    color: grey;
}

.floating-btn, .floating-btn:hover {
    width: 80px;
    height: 80px;
    background: #4589a8;
    display: flex; 
    border-radius: 50%;
    color: white;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: background 0.25s;

    /* centered horizontally and vertically */
    align-items: center;
    justify-content: center;

    /* button */
    outline: blue;
    border: none;
    cursor: pointer;

}

.floating-btn:active {
    background: #007D63;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
    
}


/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    
    section {
        margin-top: 3rem;
    }
    
}
